body {
    font-family: 'Simonetta', sans-serif;
    font-size: 15px;
    letter-spacing: .05em;
    color: black;
    background-color: #f2f2f2;
}
  
.header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #f2f2f2;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.header__logo {
    color: rgb(53,96,246);
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    margin-left: 100px;
    position: fixed;
}

.nav-humberger {
    margin-left: 55px;
    background-color: rgb(53,96,246);
    border-radius: 5px;
    box-shadow: 5px 5px 8px -5px;
    display: flex;
}

.drawer_hidden {
    display: none;
}

.drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
    background-color: rgb(53,96,246);
    border-radius: 5px;
}

.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: white;
    transition: 0.5s;
    position: absolute;
}

.drawer_open span:before {
    bottom: 8px;
    width: 10px;
}

.drawer_open span:after {
    top: 8px;
    width: 5px;
}

#drawer_input:checked ~ .drawer_open span {
    background-color: rgba(255, 255, 255, 0);
}

#drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
    width: 25px;
}

#drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
    width: 25px;
}

.nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    background: #fff;
    transition: .5s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}

.nav_list {
    list-style: none;
    margin-top: -150px;
}

#drawer_input:checked ~ .nav_content {
    left: 0;
}

.nav_list a {
    text-decoration: none;
    color: rgb(53,96,246);
    font-weight: bold;
    font-size: 25px;
}

.nav-list {
    display: flex;
    position: fixed;
    list-style: none;
    margin-left: 43%;
    width: 45.5%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 8px -5px;
}

.nav-item {
    display: flex;
    position: relative;
    height: 30px;
}

.nav-item label::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 75px;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 15px solid #efefef;
    border-bottom: 0;
    pointer-events: none;
}

.logout {
    border: none;
    outline: none;
    background: transparent;
    color: rgb(53,96,246);
    font-weight: bold;
    font-size: 25px;
}

.select_box {
    margin-top: 1px;
}

.select_form {
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    width: 100px;
    padding-left: 7px;
    height: 30px;
    font-weight: bold;
    border-right: solid 3px;
    border-color: #efefef;
}

.search_box {
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-top: 5px;
}

.search-list {
    display: flex;
    padding: 5px;
}

.nav-item img {
    background-color: #f2f2f2;
    height: 25px;
}
  
.nav-item input {
    padding: 9px 0 1px 1em;
    border: none;
    outline: none;
    font-weight: bold;
    width: 330px;
}

.parent__container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin: 8% auto;
}

.child__container {
    background: white;
    height: 250px;
    width: 20%;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 8px -5px;
    position: relative;
    z-index: 10;
}

.detail {
    border: none;
    outline: none;
    font-size: 15px;
    background-color: rgb(53,96,246);
    color: white;
    border-radius: 10px;
    padding: 8px 15px;
    position: absolute;
    top: 230px;
    z-index: 11;
}

.shop_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    z-index: 11;
}

.shop {
    position: absolute;
    top: 170px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    z-index: 11;
}

.area {
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 13px;
    z-index: 11;
}

.genre {
    position: absolute;
    top: 200px;
    left: 75px;
    font-size: 13px;
    z-index: 11;
}

.favorite {
    position: absolute;
    top: 230px;
    left: 73%;
    border: none;
    outline: none;
    background-color: white;
    z-index: 11; 
}

.favorite img {
    width: 100%;
    height: 40px;
}

@media screen and (max-width:768px) {
    .header {
        top: 0;
        position: fixed;
        width: 100%;
        background-color: #f2f2f2;
        z-index: 100;
        display: block;
        height: 100px;
    }

    .nav-humberger {
        margin: 0;
        padding: 0;
        width: 9%;
    }

    .nav-list {
        width: 90%;
        margin: 5% 0;
        padding: 0;
    }

    .nav-item {
        width: 50%;
    }

    .nav-item input {
        width: 100%;
    }

    .nav-item > label::after {
        left: 70%;
    }

    .search-list {
        width: 70%;
    }

    .search-word {
        width: 70%;
    }

    .select_form {
        height: 30px;
        width: 100%;
    }

    .select_box {
        width: 100%;
        border-right: solid 3px;
        border-color: #efefef;
    }

    .parent__container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        justify-content: space-between;
        margin: 200px auto;
    }

    .child__container {
        width: 100%;
        height: 250px;
        position: relative;
        z-index: 10;
    }

    .shop_image {
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
        z-index: 11;
    }

    .shop {
        font-size: 18px;
        font-weight: bold;
        z-index: 11;
    }
    
    .area {
        font-size: 13px;
        z-index: 11;
    }
    
    .genre {
        font-size: 13px;
        z-index: 11;
    }

    .detail {
        border: none;
        outline: none;
        font-size: 13px;
        background-color: rgb(53,96,246);
        color: white;
        border-radius: 10px;
        padding: 5px 10px;
        position: absolute;
        z-index: 11;
    }
}

@media screen and (max-width: 550px) {
    .nav-humberger {
        margin: 0;
        padding: 0;
        width: 10%;
    }

    .nav-list {
        margin: 10% 0 10% -4%;
    }

    .search-word {
        width: 50%;
    }

    .search-word > .nav-item {
        width: 90%;
    }
}