body {
    font-family: 'Simonetta', sans-serif;
    font-size: 15px;
    letter-spacing: .05em;
    color: black;
    background-color: #f2f2f2;
    overflow: hidden;
}

.parent__container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10% auto;
}

.child__container-left {
    width: 45%;
    font-weight: bold;
}

.shop_image {
    width: 100%;
    height: 350px;
}

.shop_title {
    font-size: 20px;
}

.child__container-right {
    width: 45%;
}

.rating_group {
    font-size: 20px;
    margin-top: 5%;
}

.comment_group {
    font-size: 20px;
    margin-top: 20%;
}

.comment_box {
    width: 90%;
}

.review_post {
    margin-top: 20%;
    height: 60px;
    width: 90%;
    background-color: rgb(53,96,246);
    border-radius: 5px;
    border: none;
    color: white;
}

.form-rating {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 3%;
    font-size: 20px;
}

.form-rating__input {
    display: none;
}

.form-rating__label {
    color: #ccc;
    cursor: pointer;
    font-size: 24px;
    padding: 0 10px;
    position: relative;
    transition: color 0.3s;
}

.form-rating__label:hover,
.form-rating__label:hover ~ .form-rating__label,
.form-rating__input:checked ~ .form-rating__label {
    /* 「~」でホバー時を動的に、チェック時にそれ以下の数字をもつスターの色も変化 */
    color: gold;
}

@media screen and (max-width:768px) {
    .parent__container {
        width: 100%;
        flex-wrap: wrap;
    }

    .child__container-left {
        width: 90%;
    }
}

@media screen and (max-width:550px) {

}