body {
    font-family: 'Simonetta', sans-serif;
    font-size: 15px;
    letter-spacing: .05em;
    color: black;
    background-color: #f2f2f2;
    position: relative;
}
  
.header {
    margin-top: -10px;
    width: 50%;
    margin-left: -10px;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.header__logo {
    margin-left: 40px;
}

.nav-humberger {
    margin-left: 55px;
    background-color: rgb(53,96,246);
    border-radius: 5px;
    box-shadow: 5px 5px 8px -5px;
}

.drawer_hidden {
    display: none;
}

.drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
    background-color: rgb(53,96,246);
    border-radius: 5px;
}

.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: white;
    transition: 0.5s;
    position: absolute;
}

.drawer_open span:before {
    bottom: 8px;
    width: 10px;
}

.drawer_open span:after {
    top: 8px;
    width: 5px;
}

#drawer_input:checked ~ .drawer_open span {
    background-color: rgba(255, 255, 255, 0);
}

#drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
    width: 25px;
}

#drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
    width: 25px;
}

.nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    background: #fff;
    transition: .5s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}

.nav_list {
    list-style: none;
    margin-top: -150px;
}

#drawer_input:checked ~ .nav_content {
    left: 0;
}

.nav_list a {
    text-decoration: none;
    color: rgb(53,96,246);
    font-weight: bold;
    font-size: 25px;
}

.header__logo {
    color: rgb(53,96,246);
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}

.logout {
    border: none;
    outline: none;
    background: transparent;
    color: rgb(53,96,246);
    font-weight: bold;
    font-size: 25px;
    margin: 0 auto;
}

.parent__container {
    width: 100%;
    display: flex;
}

.child__container-left {
    width: 50%;
}

label {
    font-size: 30px;
    font-weight: bold;
}

.left-content {
    width: 70%;
    height: 400px;
    margin: 30px 0px 0px 80px;
    font-weight: bold;
}

.left-content > img {
    width: 100%;
    margin-top: 30px;
}

.child__container-right {
    display: flex;
    flex-wrap: wrap;
    width:40%;
    height: 620px;
    background-color: rgb(53,96,246);
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    color: white;
    position: relative;
}

form > button {
    width: 600px;
    margin-left: -20px;
}

select {
    width: 550px;
    margin-top: 20px;
}

.home {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 8px -5px;
}

.shop_name {
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
}

.reservation__group {
    width:85%;
    height: 130px;
    background-color: rgb(85, 128, 247);
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
}

.table__header {
    padding: 5px;
}

.reserve_button {
    background-color: rgb(0, 63, 245);
    width: 106.5%;
    color: white;
    height: 50px;
    margin-left: -20px;
    margin-top: 195px;
    border-radius: 0px 0px 5px 5px;
    border: none;
}

.select_form {
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.select_form_date {
    height: 30px;
    width: 40%;
    border-radius: 5px;
    border: none;
}

.select_form_time::after {
    content: "";
    position: absolute;
    top: 162px;
    left: 545px;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 15px solid #efefef;
    border-bottom: 0;
    pointer-events: none;
}

.select_form_person::after {
    content: "";
    position: absolute;
    top: 215px;
    left: 545px;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 15px solid #efefef;
    border-bottom: 0;
    pointer-events: none;
}

.table__item {
    padding-left: 50px;
}

@media screen and (max-width:768px) {
    .header {
        margin-left: -50px;
    }

    .header__inner {
        width: 100%;
    }

    .header__logo {
        margin-left: 10px;
    }

    .left-content {
        width: 70%;
        height: 400px;
        margin: 30px 0px 0px 50px;
        font-weight: bold;
    }

    .reserve_button {
        background-color: rgb(0, 63, 245);
        width: 62%;
        color: white;
        height: 50px;
        margin-left: -20px;
        margin-top: 190px;
        border-radius: 0px 0px 5px 5px;
        border: none;
    }
    
    .select_form {
        height: 30px;
        border-radius: 5px;
        padding-left: 10px;
        border: none;
        outline: none;
        appearance: none;
        cursor: pointer;
    }
    
    .select_form_date {
        height: 30px;
        width: 40%;
        border-radius: 5px;
        border: none;
    }
    
    .select_form_time::after {
        content: "";
        position: absolute;
        top: 162px;
        left: 545px;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-top: 15px solid #efefef;
        border-bottom: 0;
        pointer-events: none;
    }
    
    .select_form_person::after {
        content: "";
        position: absolute;
        top: 215px;
        left: 545px;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-top: 15px solid #efefef;
        border-bottom: 0;
        pointer-events: none;
    }
}